<!doctype html>
<html lang="ar">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>استعادة كلمة المرور</title>
	</head>
	<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 0">
		<div
			style="
				max-width: 600px;
				margin: 0 auto;
				background-color: #fff;
				padding: 20px;
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			"
		>
			<div style="background-color: #007bff; color: #fff; padding: 10px 20px; text-align: center">
				<h1>استعادة كلمة المرور</h1>
			</div>
			<div style="padding: 20px">
				<p>عزيزي <%= name %>,</p>
				<p>
					لقد تلقينا طلباً لإعادة تعيين كلمة المرور الخاصة بك. وقمنا بإنشاء كلمة مرور مؤقتة لك.
				</p>
				<p>إليك كلمة المرور الخاص بك: <strong><%= password %></strong></p>
				
			</div>
			<div style="text-align: center; padding: 10px; font-size: 14px; color: #777">
				<p>
					إذا لم تطلب إعادة تعيين كلمة المرور، يرجى الاتصال بفريق الدعم الخاص بنا.
				</p>
				<p>شكرًا لك،</p>
				<p>فريق FY-MANGER - <%= AppName %></p>
			</div>
		</div>
	</body>
</html>
