<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Récupération de mot de passe</title>
	</head>
	<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 0">
		<div
			style="
				max-width: 600px;
				margin: 0 auto;
				background-color: #fff;
				padding: 20px;
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			"
		>
			<div style="background-color: #007bff; color: #fff; padding: 10px 20px; text-align: center">
				<h1>Récupération de mot de passe</h1>
			</div>
			<div style="padding: 20px">
				<p>Cher <%= name %>,</p>
				<p>
					Nous avons reçu une demande de réinitialisation de votre mot de passe. Nous avons généré un mot de passe temporaire pour vous.
				</p>
				<p>Voici votre code mot de passe : <strong><%= password %></strong></p>
				
			</div>
			<div style="text-align: center; padding: 10px; font-size: 14px; color: #777">
				<p>
					Si vous n'avez pas demandé de réinitialisation de mot de passe, veuillez contacter notre équipe de support.
				</p>
				<p>Merci,</p>
				<p>L'équipe FY-MANGER - <%= AppName %></p>
			</div>
		</div>
	</body>
</html>
